/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media  (max-width: 767px) {
  
  html {
      background-color: gray;
      text-align: center;
      

  }


  /* main {
      margin: 0 auto;
  } */


  
  div {
      border: 1px dotted black;
  }

}

/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 768px) {

  html {
      background-color: darkgray;
  }


  div {
      border: 1px dotted black;
  }


}
