/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media  (max-width: 767px) {
  
    html {
        text-align: center;

    }


    /* main {
        margin: 0 auto;
    } */


    
    div {
        box-sizing: border-box;
    }

    #a {
        height: 75px;
        width: 100%;
    }

    #b{
        height: 150px;
        width: 100%;

    }

    .two {
        height: 125px;
        width: 100%;
    }

    
    .four {
        width: 50%;
        height: 250px;
        float: left;
    }

    #g {
        clear: both;
    }
    

    #i {
        height: 80px;
        width:100% ;
        clear: both;

    }
  }
  
  

  /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 768px) {
  
    html {
        text-align: center;
    }


    div {
        box-sizing: border-box;
    }


    #a {
        height: 100px;
        width: 100%;
    }

    #b{
        height: 600px;
        width: 20%;
        float: left;

    }

    .two {
        height: 200px;
        width: 40%;
        float: left;
    }

    
    .four {
        width: 20%;
        height: 250px;
        float: left;
    }

    #i {
        height: 150px;
        width:80% ;
        float: left;

    }





  }
  