/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  

        main img {
        height: 350px;
        width: 350px;
    }

    
  }
  
  

  /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 768px) {

    main img {
        height: 500px;
        width: 500px;
    }

    
  }
  